body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

.container {
  max-width: 800px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

@media (max-width: 1024px) {
  .container {
    max-width: 100%;
  }
  .container .header {
    max-width: 100%;
  }
  .container .form {
    max-width: 100%;
  }
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 800px;
  height: 4rem;
  color: #fff;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.header > div {
  height: 100%;
  padding: 0 1em;
  display: -webkit-box;
  -webkit-box-align: center;
}

.header i {
  font-size: 25px;
}

.header #state {
  font-weight: bold;
}

#bb-main {
  flex: 1;
  padding: 0 10px;
  overflow: scroll;
}


.noop {
  height: 4rem;
}

.form {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: rgba(218, 214, 214, 0.274);
  height: 4rem;
  width: 100%;
  max-width: 800px;
  z-index: 100;
}

.form input {
  padding: 4px 10px;
  margin: 0 10px;
  flex: 1;
  height: 50%;
  border: 0;
  border-radius: 20px;
  background-color: #fff;
  outline: none;
}

.form #send-btn {
  flex: 0 0 18%;
  margin-right: 10px;
  height: 55%;
  font-size: 0.9em;
  border: 0;
  border-radius: 20px;
  color: #fff;
  background-color: cadetblue;
  outline: none;
  cursor: pointer;
}

.bb {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  opacity: 0;

  animation: bb-up .5s .2s forwards;
}

.bb .bb-id {
  color: #6d6d6d;
  font-size: 12px;
  margin-bottom: 5px;
}

.bb .bb-text {
  padding: 12px 15px;
  border-radius: 20px;
  color: #fff;
  font-weight: 16px;
  line-height: 16px;
  background-color: cadetblue;
}

.bb-right {
  align-items: flex-end;
}

.bb-left {
  align-items: flex-start;
}

.bb-sys {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.bb-sys .bb-text {
  color: #6d6d6d;
  font-size: 12px;
}

@keyframes bb-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



#cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.8;
  z-index: 200;
}

.cover-wrap {
  display: flex;
  flex-direction: column;

  max-width: 800px;
  height: 100%;
  margin: 0 auto;
}

#cover-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 80%;
}

#cover-status {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover-status-item {
  font-size: 12px;
  margin-bottom: 10px;
}

#cover-form h2 {
  color: #fff;
  font-weight: 300;
}

.cover-input {
  width: 70%;
  padding: 10px 20px;
  border-radius: 30px;
  border: 0;
  font-size: larger;
  text-align: center;
  letter-spacing: 2px;
  outline: none;
  margin-bottom: 20px;
}
.cover-btn {
  border: 0;
  color: #fff;
  background-color: cadetblue;
  font-size: 18px;
  line-height: 18px;
  padding: 10px 15px;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  user-select: none;
}

.btn-disable {
  background-color: lightgrey !important;
}